<div class="formPane">
  <div class="formContent">
    <div class="formDiv">
      <h2 *ngIf="addBook" class="AddEditHeader">Add Book Details</h2>
      <h2 *ngIf="!addBook" class="AddEditHeader">Edit Book Details</h2>
      <form #bookForm="ngForm">
        <div class="form-group">
          <p for="title">Title</p>
          <input type="text" id="title" name="title" required [(ngModel)]="book.title" />
        </div>
        <div class="form-group">
          <p for="author">Author</p>
          <input type="text" id="author" name="author" required [(ngModel)]="book.author" />
        </div>
        <div class="form-group">
          <p for="description">Description</p>
          <textarea type="text" rows="3" id="description" name="description" required
            [(ngModel)]="book.desc"></textarea>
        </div>
        <div class="form-group">
          <p for="category">Category</p>
          <input type="text" id="category" name="category" required [(ngModel)]="book.category" />
        </div>
        <br>
        <button [disabled]="bookForm.invalid" *ngIf="addBook" class="btn buttonPrimary" type="button"
          (click)="OnAddBook(bookForm)">Add</button>
        <button [disabled]="bookForm.invalid" *ngIf="!addBook" class="btn buttonPrimary" type="button"
          (click)="OnUpdateBook(bookForm)">
          Update
        </button>
        <button class="btn buttonDanger" routerLink="/home">Cancel</button>
      </form>
    </div>
  </div>
</div>