/* You can add global styles to this file, and also import other style files */

:root {
    --header-color: #a3ced6;
    --background-color: white;
    --text-color:#2c2d2f;
  }

.alert-danger { 
    color: red;
}

body {
    background-color: var(--background-color);
}
